

body {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 21px;
	margin: 0;
}

.main-container {
	width: 100%;
	margin: 0 auto;
}

h1 {
	font-size: 60px;
	font-weight: 300;
}

h2 {
	font-size: 42px;
	font-weight: 300;
	width: 570px;
	padding: 30px;
	margin: 40px auto;
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
}

h3 {
	font-size: 36px;
}

.article-author {
	font-size: 16px;	
}

h1 span {
	font-size: 80px;
	display: block;
	font-weight: 900;
}

h2 span {
	font-size: 60px;
	display: block;
	font-weight: 900;
}

h3 span {
	font-size: 50px;
	display: block;
	font-weight: 900;
}

a {
	color: #99D930;
}

a:hover {
	color: #131313;
}

.header-container , .article-container{
	background-color: #252525;
	padding: 60px 0;
	color: #FFF;
}

.info-container {
	background-color: #FFF;
	padding: 80px 0;
}

.info-container p,
.article-container article {
	width: 570px;
	margin: 0 auto;
}

.article-author,.article-container h3 {
	margin: 0;
}

.work-btn {
	background-color: #99D930;
	padding: 20px;
	text-decoration: none;
	color: #252525;
	display: inline-flex;
	margin-top: 30px;
	font-weight: 900;
}

.work-btn:hover {
	background-color: #252525;
	color: white;
}